<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
		<route id="quickquote" frontName="quickquote">
			<module name="LR_QuickQuote"/>
		</route>
	</router>
</config>